@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800&display=swap");

:root {
  --white: #fffafa;
  --text: #4b4453;
  --lineactive: #a68b83;
  --linepassive: #b0a8b9;
  --white2: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}
